footer.page-footer.mus-blue(style='padding-top: 0')
  .footer-copyright
    .container.comment-text
      | &copy; Open Lab, Newcastle University, 2018 
      a.grey-text.text-lighten-4.right.hover-underline(href='#!') 
        i.fab.fa-twitter
        span(style='margin-left: 10px; font-size: 10pt;') makeusefulstuff

