footer.page-footer.mus-blue(style='padding-top: 0')
  .footer-copyright
    .container.comment-text
        div(style='display: flex; justify-content: space-between; flex-wrap: wrap')
            div(style='flex: 1') &copy; Open Lab, Newcastle University, 2018 
            div(style='flex: 1')
                a.grey-text.text-lighten-4.right.hover-underline(href='http://twitter.com/makeusefulstuff') 
                    i.fab.fa-twitter
                    span(style='margin-left: 10px; font-size: 10pt;') makeusefulstuff

