body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.post-img {
  display: block;
  max-width:1280px;
  max-height:960px;
  width: auto;
  height: auto;

}

#submit-comment{
  display:inline-block;
  position:relative;
}

#submit-comment button{
  position:absolute;
  bottom:10px;
  right:10px;
}

#submit-comment textarea{
  display:block;
  resize: none;
}

.comment .comment-text{
  white-space: pre-wrap;
}